<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <h2>Try to answer these questions</h2>
  <div class="questions">
	  
  </div>
  <%- include("./partials/footer.ejs") %>
  <script src="/scripts/index.js"></script>
</body>
</html>